.footer {
	width: 100%;
	margin: 1rem 0;
	padding: 2rem 0;
	background: #eee;
}

.footer .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.2rem;
}

.footer .col {
	margin: 0 auto auto auto;
}

.footer h3 {
	margin: 0.8rem 0;
}

.footer p {
	margin: 0.4rem 0;
}

.footer .social {
	text-align: center;
}

.footer .icon {
	font-size: 2rem;
	margin: 2rem 3rem;
	color: navy;
}

@media screen and (max-width: 940px) {
	.footer {
		margin: 2rem 0;
		padding: 4rem 0;
	}
	.footer .container {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.5rem;
	}
	.footer .social {
		margin: 1rem;
	}
}
